div.top-divsion{
    border:dashed gray 10px;
    padding: 10px 20px 30px 40px ;
    width: 50%;
    margin: 10px 200px 10px 200px
}
.first{
    border:;
    color:
}
.eman{
    background-color: red;
    width: 400px;
    border: solid;
}